<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fosung.ksh.sys.dao.SysUserDao">


    <!--查询正在进行中的会议室，并关联在线人数-->
    <select id="queryUserByPermissionList" resultType="string">
        SELECT
        t3.user_hash
        FROM
        sys_permission t1
        JOIN sys_role_permission t2 ON t1."id" = t2.permission_id
        JOIN sys_user_role t3 ON t2.role_id = t3.role_id
        JOIN sys_role t4 ON t2.role_id = t4.id
        WHERE
        t1.permission_name = #{ permissionName }
        <if test="manageId != null and manageId != ''">
            AND t3.manage_id = #{manageId}
        </if>
        AND t4.client_id = #{clientId}

    </select>

</mapper>
